:root {
    --color: #000000bf;
    --body-bg: #FFF;
    --wrapper-border-color: #907ad611;
    --board-bg-color: #e0f4f6;
    --card-bg-color: #FFF;
    --card-border-bottom-color: #907ad6cc;
    --status-backlog-bg-color: #f6511dcc;
    --status-in-progress-bg-color: #0acdffcc;
    --status-done-bg-color: #7fefbdcc;
    --highlight: #607d8b0a;
    --is-dragging-bg: #251f47;
    --over-box-shadow-color: #d1e2e4;
}

html {
    font-family: 'Nunito';
}

body {
    background-color: var(--body-bg);
    color: var(--color);
}

.boards {
    display: flex;
    height: calc(100vh - 64px);
    margin: 32px 0px;
}

.board {
    display: grid;
    grid-template-rows: 60px 1fr;
    background: var(--board-bg-color);
    border: 1px solid var(--wrapper-border-color);
    border-radius: 6px;
    margin: 0 15px;
    box-sizing: border-box;
}

.board-title {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 15px;
}

.board-title h3 {
    padding: 0px;
    margin: 0px;
}

.dropzone {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    max-height: 100%;
    padding: 16px 10px;
    border-radius: 0px 0px 6px 6px;
    transition: 400ms;
    box-sizing: border-box;
}

.card {
    display: grid;
    grid-template-rows: 20px 80px;
    width: 280px;
    border: 1px solid var(--wrapper-border-color);
    border-bottom: 3px solid var(--card-border-bottom-color);
    border-radius: 6px;
    background-color: var(--card-bg-color);
    box-sizing: border-box;
}

.card:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.status {
    width: 60px;
    height: 10px;
    border-radius: 20px;
    margin: 10px;
    box-sizing: border-box;
    grid-row: 1 / 2;
}

.backlog {
    background-color: var(--status-backlog-bg-color);
}

.in-progress {
    background-color: var(--status-in-progress-bg-color);
}

.done {
    background-color: var(--status-done-bg-color);
}

.content {
    grid-row: 2 / 3;
    height: 80px;
    padding: 0 10px;
}

.highlight {
    background-color: var(--highlight);
}

.is-dragging {
    opacity: 0.3;
}

.over {
    box-shadow: 0px 2px 18px var(--over-box-shadow-color);
}