:root {
    --body-bg: #130f0d;
    --wrapper-border-color: #907ad611;
    --board-bg-color: #141316;
    --dropzone-bg-color: #2e294e;
    --card-bg-color: #593c8fcc;
    --card-border-bottom-color: #907ad6cc;
    --status-backlog-bg-color: #f6511dcc;
    --status-in-progress-bg-color: #0acdffcc;
    --status-done-bg-color: #7fefbdcc;
    --highlight: #404e7c;
    --is-dragging-bg: #251f47;
}

html {
    font-family: 'Nunito';
}

body {
    background-color: var(--body-bg);
    color: white;
}

.boards {
    display: flex;
    margin-top: 32px;
}

.board {
    background: var(--board-bg-color);
    border: 1px solid var(--wrapper-border-color);
    border-radius: 6px;
    margin: 0 16px;
}

.board h3 {
    padding: 16px;
    margin: 0px;
    margin-bottom: 10px;
}

.dropzone {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    height: 100%;
    padding: 16px 10px;
    border-radius: 6px;
    background-color: var(--dropzone-bg-color);
    transition: 400ms;
}

.card {
    min-width: 280px;
    min-height: 100px;
    border: 1px solid var(--wrapper-border-color);
    border-bottom: 3px solid var(--card-border-bottom-color);
    border-radius: 6px;
    background-color: var(--card-bg-color);
}

.card:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.status {
    width: 60px;
    height: 10px;
    border-radius: 20px;
    margin: 10px;
}

.backlog {
    background-color: var(--status-backlog-bg-color);
}

.in-progress {
    background-color: var(--status-in-progress-bg-color);
}

.done {
    background-color: var(--status-done-bg-color);
}

.content {
    margin: 10px;
}

.highlight {
    background-color: var(--highlight);
}

.is-dragging {
    opacity: 0.3;
}

.over {
    opacity: .7;
}